<a href="https://colab.research.google.com/github/akheel143/MACHINE-LEARNING-BASIC-PROJECTS/blob/main/Copy_of_TensorFlow_with_GPU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tensorflow with GPU

This notebook provides an introduction to computing on a [GPU](https://cloud.google.com/gpu) in Colab. In this notebook you will connect to a GPU, and then run some basic TensorFlow operations on both the CPU and a GPU, observing the speedup provided by using the GPU.

## Enabling and testing the GPU

First, you'll need to enable GPUs for the notebook:

- Navigate to Editâ†’Notebook Settings
- select GPU from the Hardware Accelerator drop-down

Next, we'll confirm that we can connect to the GPU with tensorflow:

In [ ]:
%tensorflow_version 2.x
import tensorflow as tf
device_name = tf.test.gpu_device_name()
if device_name != '/device:GPU:0':
  raise SystemError('GPU device not found')
print('Found GPU at: {}'.format(device_name))

TensorFlow 2.x selected.
Found GPU at: /device:GPU:0

## Observe TensorFlow speedup on GPU relative to CPU

This example constructs a typical convolutional neural network layer over a
random image and manually places the resulting ops on either the CPU or the GPU
to compare execution speed.

In [ ]:
 from google.colab import files
 scr=files.upload()

Saving project cp.xlsx to project cp.xlsx

In [ ]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import re
data=pd.read_excel('project cp.xlsx')
y=data['label']
data1=data.drop(['url','label','alchemy_category_score','is_news','news_front_page','boilerplate'],axis=1)
replace={'business':0,'recreation':1,'health':2,'sports':3,'?':4,'arts_entertainment':5,
             'science_technology':6,'gaming':7,'culture_politics':8,'computer_internet':9,
             'law_crime':10,'religion':11,'weather':12,'unknown':13}
data1['alchemy_category']=data1['alchemy_category'].map(replace)
lemma=WordNetLemmatizer()
corpus=[]
for i in range(0,len(data['boilerplate'])):
    review=re.sub('[^a-zA-Z]','',data['boilerplate'][i])
    review=review.lower()
    review=review.split()
    review=[lemma.lemmatize(word)for word in review if not word in set(stopwords.words('english'))]
    review=''.join(review)
    corpus.append(review)
from sklearn.feature_extraction.text import TfidfVectorizer
vect=TfidfVectorizer(max_features=2500)
corpus=vect.fit_transform(corpus).toarray()
corpus=pd.DataFrame(corpus)
concat=[data1,corpus]
concat=pd.concat(concat,axis=1)
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(concat,y,test_size=0.2,random_state=0)
from sklearn.preprocessing import StandardScaler
scale=StandardScaler()
x_train=scale.fit_transform(x_train)
x_test=scale.fit_transform(x_test)

In [ ]:
import tensorflow as tf
from tensorflow import keras
model=keras.Sequential([
    keras.layers.Dense(200,input_shape=(2521,),activation='relu'),
    keras.layers.Dense(150,activation='relu'),
    keras.layers.Dense(100,activation='relu'),
    keras.layers.Dense(50,activation='relu'),
    keras.layers.Dense(1,activation='sigmoid'),
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])
history=model.fit(x_train,y_train,epochs=100)
model.evaluate(x_test,y_test)

In [ ]:
y_pred=model.predict_classes(x_test)
y_pred.shape

In [ ]:
from sklearn.metrics import confusion_matrix,classification_report
print(classification_report(y_test,y_pred))

In [ ]:
epoch=range(100)
epoch_range=np.array(epoch)
import numpy as np
array=np.array(history.history['accuracy'])
import matplotlib.pyplot as plt
plt.plot(epoch_range,array)
plt.title('Traning Accuracy')
plt.ylabel('epoch_range')
plt.xlabel('Accuracy')
plt.legend(['Train','val'],loc='upper left')
plt.show()

Cab Fare Prediction

In [ ]:
 from google.colab import files
 scr=files.upload()

Saving car_fare.TRAIN.csv to car_fare.TRAIN.csv

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats
data=pd.read_csv('car_fare.TRAIN.csv')
data.head()
data1=data.drop(['index','fare','cab_provider','time_stamp'],axis=1)
#data1['time_stamp']=data1['time_stamp']/
destination=pd.get_dummies(data1['destination'])
destinations=pd.DataFrame(destination)

source=pd.get_dummies(data1['source'])
sources=pd.DataFrame(source)

cab_provider=pd.get_dummies(data['cab_provider'])
cab_provider1=pd.DataFrame(cab_provider)

cab_type=pd.get_dummies(data1['cab_type'])
data_n=data1.drop(['cab_type','source','destination'],axis=1)
y_data=data['fare']
y_data=y_data.astype('int64')

cab_types=pd.DataFrame(cab_type)
data_2=pd.concat([data_n,cab_provider1,sources,destinations,cab_types],axis=1)
data2=data_2.dropna(axis=0)
data2.shape

(100000, 40)

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data2,y_data,test_size=0.4,random_state=44)
from sklearn.preprocessing import StandardScaler
scale=StandardScaler()

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf_reg = RandomForestRegressor(n_estimators=200)
rf_reg.fit(x_train, y_train)
rf_reg.score(x_train,y_train)

0.9756658205813503

In [ ]:
rf_reg.score(x_test,y_test)

0.9653188112208138

In [ ]:
import tensorflow as tf
from tensorflow import keras
model=keras.Sequential([
    keras.layers.Dense(200,input_shape=(6,),activation='relu'),
    keras.layers.Dense(150,activation='relu'),
    keras.layers.Dense(100,activation='relu'),
    keras.layers.Dense(1,activation='softmax'),
])

model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])
history=model.fit(x_train,y_train,epochs=10)
model.evaluate(x_test,y_test)

In [ ]:
from google.colab import files
scr=files.upload()

Saving TEST.csv to TEST.csv

In [ ]:
data3=pd.read_csv('TEST.csv')
data_4n=data3.drop(['index','cab_type','source','destination','cab_provider','time_stamp'],axis=1)

cab_provider2=pd.get_dummies(data3['cab_provider'])
cab_provider3=pd.DataFrame(cab_provider2)

destination1=pd.get_dummies(data3['destination'])
destinations2=pd.DataFrame(destination1)

source1=pd.get_dummies(data3['source'])
sources2=pd.DataFrame(source1)

cab_type1=pd.get_dummies(data3['cab_type'])
cab_types2=pd.DataFrame(cab_type)

cab_types1=pd.DataFrame(cab_type)
data_4=pd.concat([data_4n,cab_provider3,sources2,destinations2,cab_types2],axis=1)
data4=data_4.dropna(axis=0)

In [ ]:
predict=rf_reg.predict(data4)

In [ ]:
Prediction=pd.DataFrame({'index':data3['index'],'fare':predict})
file_name='output2_s.csv'
Prediction.to_csv(file_name,index=False)

In [ ]:
from google.colab import files
src=files.upload()

Saving sales_TRAIN (2).csv to sales_TRAIN (2).csv

In [ ]:
import pandas as pd
data=pd.read_csv('sales_TRAIN (2).csv')
data

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        Store  DayOfWeek        Date  ...  Promo  StateHoliday  SchoolHoliday
0           1          5  2015-07-31  ...      1             0              1
1           2          5  2015-07-31  ...      1             0              1
2           3          5  2015-07-31  ...      1             0              1
3           4          5  2015-07-31  ...      1             0              1
4           5          5  2015-07-31  ...      1             0              1
...       ...        ...         ...  ...    ...           ...            ...
712041    342          2  2013-10-01  ...      0             0              0
712042    343          2  2013-10-01  ...      0             0              0
712043    344          2  2013-10-01  ...      0             0              1
712044    345          2  2013-10-01  ...      0             0              0
712045    346          2  2013-10-01  ...      0             0              0

[712046 rows x 9 columns]

In [ ]:
data['month']=pd.DatetimeIndex(data['Date']).month
data['day']=pd.DatetimeIndex(data['Date']).day
Year={2013:0,2014:1,2015:2}
data['Year']=pd.DatetimeIndex(data['Date']).year.map(Year)
data1=data.drop(['Date','Customers','Sales'],axis=1)
state_holidays={'0':0, 'a':1, 'b':2, 'c':3, 0:0}
data1['StateHoliday']=data1['StateHoliday'].map(state_holidays)
data1

        Store  DayOfWeek  Open  Promo  ...  SchoolHoliday  month  day  Year
0           1          5     1      1  ...              1      7   31     2
1           2          5     1      1  ...              1      7   31     2
2           3          5     1      1  ...              1      7   31     2
3           4          5     1      1  ...              1      7   31     2
4           5          5     1      1  ...              1      7   31     2
...       ...        ...   ...    ...  ...            ...    ...  ...   ...
712041    342          2     1      0  ...              0     10    1     0
712042    343          2     1      0  ...              0     10    1     0
712043    344          2     1      0  ...              1     10    1     0
712044    345          2     1      0  ...              0     10    1     0
712045    346          2     1      0  ...              0     10    1     0

[712046 rows x 9 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler
scale=StandardScaler()
data1=scale.fit_transform(data1)
data1=pd.DataFrame(data1)
data1

               0         1         2  ...         6         7         8
0      -1.731330  0.501041  0.454854  ...  0.227032  1.738653  1.223702
1      -1.728224  0.501041  0.454854  ...  0.227032  1.738653  1.223702
2      -1.725118  0.501041  0.454854  ...  0.227032  1.738653  1.223702
3      -1.722012  0.501041  0.454854  ...  0.227032  1.738653  1.223702
4      -1.718906  0.501041  0.454854  ...  0.227032  1.738653  1.223702
...          ...       ...       ...  ...       ...       ...       ...
712041 -0.672209 -1.001761  0.454854  ...  1.074614 -1.676682 -1.794019
712042 -0.669103 -1.001761  0.454854  ...  1.074614 -1.676682 -1.794019
712043 -0.665997 -1.001761  0.454854  ...  1.074614 -1.676682 -1.794019
712044 -0.662891 -1.001761  0.454854  ...  1.074614 -1.676682 -1.794019
712045 -0.659785 -1.001761  0.454854  ...  1.074614 -1.676682 -1.794019

[712046 rows x 9 columns]

In [ ]:
data2=data1
y=data['Sales']
data2=data2.astype('int64')
y=y.astype('int64')
y

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data2,y,test_size=0.3)

In [ ]:
x_train.shape

(498432, 8)

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
ensamb=GradientBoostingClassifier()
ensamb.fit(x_train,y_train)

In [ ]:
import tensorflow as tf
from tensorflow import keras
model=keras.Sequential([
    keras.layers.Dense(250,activation='relu'),
    keras.layers.Dropout(0.5),
    keras.layers.Dense(200,activation='relu'),
    keras.layers.Dropout(0.5),
    keras.layers.Dense(150,activation='relu'),
    keras.layers.Dropout(0.5),
    keras.layers.Dense(100,activation='relu'),  
    keras.layers.Dropout(0.5),  
    keras.layers.Dense(50,activation='relu'),
    keras.layers.Dropout(0.5),
    keras.layers.Dense(10,activation='relu'),
    keras.layers.Dropout(0.5),
    keras.layers.Dense(1,activation='softmax'),
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])
history=model.fit(x_train,y_train,epochs=5,batch_size=5,verbose=1)
model.evaluate(x_test,y_test)

Epoch 1/5
99687/99687 [==============================] - 401s 4ms/step - loss: nan - accuracy: 0.1606
Epoch 2/5
99687/99687 [==============================] - 378s 4ms/step - loss: nan - accuracy: 0.1721
Epoch 3/5
99687/99687 [==============================] - 385s 4ms/step - loss: nan - accuracy: 0.1709
Epoch 4/5
99687/99687 [==============================] - 375s 4ms/step - loss: nan - accuracy: 0.1715
Epoch 5/5
99687/99687 [==============================] - 376s 4ms/step - loss: nan - accuracy: 0.1709
6676/6676 [==============================] - 10s 2ms/step - loss: nan - accuracy: 0.1716

[nan, 0.17163200676441193]

In [ ]:
from google.colab import files
src=files.upload()

Saving sales_TEST.csv to sales_TEST.csv

In [ ]:
import pandas as pd
data_t=pd.read_csv('sales_TEST.csv')
data_t['Date']

0         2013-04-01
1         2013-03-16
2         2013-08-01
3         2013-05-23
4         2013-08-06
             ...
305158    2013-05-28
305159    2013-03-02
305160    2013-09-16
305161    2013-06-22
305162    2013-09-07
Name: Date, Length: 305163, dtype: object

In [ ]:
data_t['month']=pd.DatetimeIndex(data_t['Date']).month
data_t['day']=pd.DatetimeIndex(data_t['Date']).day
Year={2013:0,2014:1,2015:2}
data_t['Year']=pd.DatetimeIndex(data_t['Date']).year.map(Year)
data_t=data_t.drop(['Date'],axis=1)
state_holidays={'0':0, 'a':1, 'b':2, 'c':3, 0:0}
data_t['StateHoliday']=data_t['StateHoliday'].map(state_holidays)
data_t

        Store  DayOfWeek  Open  Promo  ...  SchoolHoliday  month  day  Year
0         767          1     0      0  ...              1      4    1     0
1        1111          6     1      0  ...              0      3   16     0
2          45          4     1      1  ...              1      8    1     0
3         500          4     1      0  ...              1      5   23     0
4          82          2     1      0  ...              1      8    6     0
...       ...        ...   ...    ...  ...            ...    ...  ...   ...
305158    412          2     1      1  ...              1      5   28     0
305159    936          6     1      0  ...              0      3    2     0
305160     21          1     1      0  ...              0      9   16     0
305161   1077          6     1      0  ...              0      6   22     0
305162    321          6     1      0  ...              0      9    7     0

[305163 rows x 9 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler
scale=StandardScaler()
data_t=scale.fit_transform(data_t)
data_t=pd.DataFrame(data_t)
data_t

In [ ]:
data_2=data_t
data_2=data2.astype('int64')

In [ ]:
prediction=model.predict(data_2)
prediction

In [ ]:
Prediction=pd.DataFrame({'index':data3['index'],'fare':predict})
file_name='output2_s.csv'
Prediction.to_csv(file_name,index=False)